footer.footer
    .footer__row.footer__row--links
        .container
            nav.menu.menu--footer
                include ../common/menu.pug
            .socials.socials--footer
                include ../common/socials_round.pug
    .footer__row.footer__row--text
        .container
            .footer__info-text Я веб-разработчик из Москвы. Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool.
            .footer__copyright.copyright &#169; Евгения Морозова | Создано с любовью в LoftSchool | 2017