section.section.hero
    .hero__bg.js-bg-hero
        img(src="img/bg/bg_header.jpg").hero__bg-img
    svg.hero__bg-title.js-bg-title
        use(xlink:href="img/icons/symbol/sprite.svg#portfolio_header")
    .hero__content.js-hero-content
        .hero__owner.owner
            .owner__photo
                img(src="img/content/My_image.jpg").owner__img
            .owner__title Евгения Морозова
            span.owner__description Личный сайт веб-разработчика
    button(type="button").hero__arrow-btn.js-hero-btn
        svg.hero__arrow-down
            use(xlink:href="img/icons/symbol/sprite.svg#arrow_down")
