- 
    var menuItemsHeader = [
        {
        mod: "works",
        title: "Мои работы", 
        link: "/works"
        },
        {
        mod: "blog",
        title: "Блог", 
        link: "/blog"
        },
        {
        mod: "about",
        title: "Обо мне", 
        link: "/about"
        },
        {
        mod: "auth",
        title: "Авторизация", 
        link: "/index"
        }
    ]

- 
    var menuItems = [
        {
        title: "Мои работы", 
        link: "/works"
        },
        {
        title: "Обо мне", 
        link: "/about"
        },
        {
        title: "Блог", 
        link: "/blog"
        },
        {
        title: "Авторизация", 
        link: "/index"
        }
    ]

-
    var socialsItems = [
        ['vk', 'https://vk.com/morozovaey', 'vk'],
        ['gh', 'https://github.com/usp-evgeniya', 'github'],
        ['in', 'https://www.linkedin.com/in/evgeniya-morozova-65549769', 'in']
    ]

- 
    var skillsList = [
        {
        skillsGroup: "Frontend", 
        skills: [["HTML5","80"], ["CSS3","60"], ["JavaScript & jQuery","40"]]
        },
        {
        skillsGroup: "Backend", 
        skills: [["PHP","25"], ["MySQL","30"], ["Node.js & npm","40"], ["Mongo.db","30"]]
        },
        {
        skillsGroup: "WorkFlow", 
        skills: [["Git","50"], ["Gulp","60"], ["Bower","40"], ["Webpack","20"]]
        }
    ]
-
    var contactsList = [
        {
        type: "skype", 
        contact: "humming-bird7",
        svg: "skype",
        link: "skype:humming-bird7"
        },
        {
        type: "email", 
        contact: "morozovaey@gmail.com",
        svg: "envelope",
        link: "mailto:morozovaey@gmail.com"
        },
        {
        type: "phone", 
        contact: "+7 (916) 412 07 02",
        svg: "phone",
        link: "tel:89164120702"
        },
        {
        type: "address", 
        contact: "г. Москва, район Аэропорт",
        svg: "map_marker",
        link: "https://www.google.ru/maps/place/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B5%D1%8F+%D0%90%D1%8D%D1%80%D0%BE%D0%BF%D0%BE%D1%80%D1%82/@55.800155,37.5321896,15z/data=!4m8!1m2!2m1!1z0JDRjdGA0L7Qv9C-0YDRgg!3m4!1s0x0:0xabe0a8166d18b2fc!8m2!3d55.8017378!4d37.531853"
        },          
    ]

- 
    var menuItemsIntro = [
        {
        title: "Мои работы", 
        link: "/works",
        mod: "works"
        },
        {
        title: "Обо мне", 
        link: "/about",
        mod: "about"
        },
        {
        title: "Блог", 
        link: "/blog",
        mod: "blog"
        }
    ]

- 
    var menuItemsAdmin = [
        {
        title: "Обо мне", 
        link: "/about",
        mod: "about"
        },
        {
        title: "Блог", 
        link: "/blog",
        mod: "blog"
        },
        {
        title: "Мои работы", 
        link: "/works",
        mod: "works"
        },
    ]

- 
    var worksList = [
        {
        subtitle: "Лендинг для магазина бургеров Mr.Burger", 
        techs: "HTML5, CSS3, JavaScript & jQuery, Ajax, Gulp, Git",
        link: "https://usp-evgeniya.github.io/burgers/",
        img: "img/content/works/burgers.png",
        active: "active",
        },
        {
        subtitle: "Сайт фитнес-клуба Афродита", 
        techs: "HTML5, CSS3, Git",
        link: "https://usp-evgeniya.github.io/project_afrodita/",
        img: "img/content/works/fitness.png",
        active: "",
        },
        {
        subtitle: "Лендинг для студии красоты Пион", 
        techs: "HTML5, CSS3, Git",
        link: "https://usp-evgeniya.github.io/project_peony/",
        img: "img/content/works/peony.png",
        active: "",
        },
        {
        subtitle: "Сайт-портфолио веб-разработчика", 
        techs: "HTML5, CSS3, JavaScript & jQuery, Ajax, Gulp, Git",
        link: "https://usp-evgeniya.github.io/portfolio/dist/",
        img: "img/content/works/portfolio.png",
        active: "",
        }
    ]
- 
    var commentsList = [
        {
        comment: "Прохождение обучения веб-разработке в LoftSchool — это не просто так! 2 месяца только самых тяжелых испытаний и бессонных ночей!", 
        person: "Ковальчук Дмитрий",
        occupation: "Основатель школы",
        img: "img/content/dmitry.jpg"
        },
        {
        comment: "Женя прошла все три курса Профессии в моей группе, продуктивно поработала и получила отличные знания и навыки.", 
        person: "Болотова Ольга",
        occupation: "Наставник группы",
        img: "img/content/olya.jpg"
        }
    ]
