- 
    var menuItemsHeader = [
        {
        mod: "works",
        title: "Мои работы", 
        link: "/works"
        },
        {
        mod: "blog",
        title: "Блог", 
        link: "/blog"
        },
        {
        mod: "about",
        title: "Обо мне", 
        link: "/about"
        },
        {
        mod: "auth",
        title: "Авторизация", 
        link: "/index"
        }
    ]

- 
    var menuItems = [
        {
        title: "Мои работы", 
        link: "/works"
        },
        {
        title: "Обо мне", 
        link: "/about"
        },
        {
        title: "Блог", 
        link: "/blog"
        },
        {
        title: "Авторизация", 
        link: "/index"
        }
    ]

-
    var socialsItems = [
        ['vk', '#', 'vk'],
        ['gh', '#', 'github'],
        ['in', '#', 'in']
    ]

- 
    var skillsList = [
        {
        skillsGroup: "Frontend", 
        skills: [["HTML5","80"], ["CSS3","60"], ["JavaScript & jQuery","40"]]
        },
        {
        skillsGroup: "Backend", 
        skills: [["PHP","25"], ["MySQL","30"], ["Node.js & npm","40"], ["Mongo.db","30"]]
        },
        {
        skillsGroup: "WorkFlow", 
        skills: [["Git","50"], ["Gulp","60"], ["Bower","40"], ["Webpack","20"]]
        }
    ]
-
    var contactsList = [
        {
        type: "skype", 
        contact: "humming-bird7",
        svg: "skype",
        link: "skype:humming-bird7"
        },
        {
        type: "email", 
        contact: "morozovaey@gmail.com",
        svg: "envelope",
        link: "mailto:morozovaey@gmail.com"
        },
        {
        type: "phone", 
        contact: "+7 (916) 412 07 02",
        svg: "phone",
        link: "tel:89164120702"
        },
        {
        type: "address", 
        contact: "г. Москва, район Аэропорт",
        svg: "map_marker",
        link: "https://www.google.ru/maps/place/%D0%93%D0%B0%D0%BB%D0%B5%D1%80%D0%B5%D1%8F+%D0%90%D1%8D%D1%80%D0%BE%D0%BF%D0%BE%D1%80%D1%82/@55.800155,37.5321896,15z/data=!4m8!1m2!2m1!1z0JDRjdGA0L7Qv9C-0YDRgg!3m4!1s0x0:0xabe0a8166d18b2fc!8m2!3d55.8017378!4d37.531853"
        },          
    ]

-
    var articlesList = [
        {
        title: "Второй курс по веб-разработке. Неделя первая", 
        date: "30 июля 2017",
        text: "Ну что, первый курс оказался успешным) Интересно, как пройдет второй?) На неделю нам, как обычно, выдали техническое задание – подготовить три секции лендинга. Я с увлечением взялась за вёрстку – хотелось опробовать то, что изучили на первом курсе, получить первый результат. В итоге, к вечеру среды я сделала большую часть технического задания, опубликовала проект - https://usp-evgeniya.github.io/burgers/. Чуть позже внесла правки после проверки Оли (моего наставника - Ольга Болотова ) и, довольная, успокоилась) Вебинары у нас сейчас 3 раза в неделю – понедельник, среда и пятница – интенсивный процесс. И нужно внедрять в проект то, что там узнаешь, а лучше предвосхищать их, разбираться заранее. В пятницу я пропустила вебинар - была на встрече выпускников Loftschool, познакомилась, пообщалась с организаторами и учениками вживую. Ничто, конечно, не заменит живого общения!) И вот, что вы думаете, вечером вижу сообщения ребят с потока о том, что все надо переделывать – “пропадайте, выходные!” Я насторожилась, но не было возможности посмотреть, в чем же дело, да и суббота пролетела незаметно на IT конференции Konnect. А сегодня я сама весь день сидела, разбиралась с темой препроцессоров, flexbox, относительными единицами и т.д. Стала вносить новые фишки в проект, вёрстка разъехалась, теперь нужно чинить. Да, не расслабишься тут) Посмотрим теперь, что будет дальше)"
        },
        {
        title: "Второй курс по веб-разработке. Неделя вторая", 
        date: "7 августа 2017",
        text: "Код не всегда себя ведет так, как тебе хочется. И не всегда ты получаешь тот результат, который хочешь увидеть. Порой кажется, что нужны танцы с бубнами, не иначе, чтобы всё заработало. Неделя непростая, но крайне интересная - flexbox, адаптив, svg - темы недели. Хочется делать классно. Хочется делать быстро. А пока медленно, но верно, я продвигаюсь к цели. Три вебинара на неделе - серьёзная нагрузка (особенно в сравнении с прошлым курсом, где их было два). Да и техническое задание недели впечатлило сразу же, как я его увидела. Отстала от графика - важно сосредоточиться) Я знаю, что я всё равно преодолею препятствия на пути и достигну цели. Я умею достигать цели, я умею работать на результат. Мой сегодняшний забег на 5 км это тоже показал. Трасса была хитрая - сплошь спуски и подъёмы в Парке Победы, но я всё равно побила свой рекорд на 5 км со временем 29:24. Символично, Парк Победы - так нужно побеждать - идти вперед и достигать целей!)"
        },
        {
        title: "Второй курс по веб-разработке. Неделя третья", 
        date: "14 августа 2017",
        text: "Ну что сказать? Это не неделя, это американские горки по части эмоций! В понедельник - подъём. Делала адаптив, радовалась сайтику, проверяя его работу и на планшете, и на телефоне) Радость сменилась растерянностью, когда Vanilla JavaScript взорвал мозг, с работой не успевала читать методички, в срок делать задачки. В среду в середине вебинара казалось, что это вообще тёмный лес, и нет шансов. В конце вебинара появилась надежда, что всё-таки ещё не всё потеряно, нужно просто найти время. В среду организм довела, не выдержал нагрузок. Полчетверга провела у врачей. Второй месяц уже в режиме нон-стоп, хоть и с любимым делом. В итоге, учёба стояла на месте, а я расстраивалась. В пятницу после вебинара по jQuery стало яснее, созрело взвешенное решение, что или я посвящу день учёбе в субботу, или на следующей неделе снежный ком только накрутится. В субботу дочитала методички, поразбирала примеры, задачи. Самочувствие намного лучше, спасибо организму, а Js стал находить место в картине мира) Вспомнила свой любимый Visual Basic, алгоритмы, циклы, условия. Они с Js в чем-то похожи, хотя и разные. Спасибо моему прошлому небольшому опыту. В воскресенье, пока Милый ставил рекорды в Полумарафоне, я сидела в парке у фонтана и верстала проект. Шаг за шагом, тэг за тэгом, блок за блоком) Ну что сказать? Нужно помнить, что я не дух, а живой человек, и с этой мыслью уже действовать, двигаться дальше и развиваться! Здоровье, профессиональное развитие и близкие рядом - вот, что очень важно в жизни!)"
        },
        {
        title: "Второй курс по веб-разработке. Неделя четвертая", 
        date: "21 августа 2017",
        text: "Эта неделя ознаменовалась фразой из известного фильма – «Москва не сразу строилась». Постепенно, шаг за шагом я обретаю новые профессиональные навыки, открываю еще более эффективные методы работы, совершенствуюсь с каждым днем, становлюсь сильнее. Важно помнить, что дорогу осилит идущий. Что радует, мир IT становится более привычным, новые технологии вдохновляют, а качество моей работы ещё больше растет. И сколько бы негодования не вызывал у меня JavaScript на этой неделе, проект все равно движется вперед, обретает новые фишечки, становится красивее, удобнее и эффективнее. Это, конечно, очень согревает. Здесь и адаптив, и слайдеры, и меню-гамбургер, и удобно раскрывающиеся меню в виде аккордеонов, и интерактивная карта. Убедитесь сами) https://usp-evgeniya.github.io/burgers/ Осталось еще немного, и можно будет отпускать “Mr. Burger” в большую жизнь) Мне уже хочется реализовывать новые проекты, внедрять в них все то полезное, что я узнала. Хочется, чтобы красивых, удобных, качественных сайтов становилось все больше! А если у вас есть потребность в создании сайта или его модернизации, мы можем вместе продуктивно поработать и, в результате, получить много довольных людей – пользователей сайта и ваших клиентов. "
        },    
        {
        title: "Второй курс по веб-разработке. Неделя пятая", 
        date: "28 августа 2017",
        text: "Вот и завершился второй курс. Диплом А класса, что очень приятно, и много усилий на достижение результата) А чем дороже в плане усилий нам достается какой-то результат, тем ценнее он становится). По итогам курса, получился вкусный адаптивный лендинг со слайдером, раскрывающимися меню, всплывашками, интерактивной картой и без линеек прокрутки - каждая секция целиком отображается на экране. Переходы на секции есть и сверху из меню, и через точки сбоку, и по кнопкам вверх/вниз по клавиатуре, и по колесику мыши. И переходы все плавные) Если загрузить сайт на хостинг, будет также работать форма приема заказов, т.к. все настройки для этого сделаны. Приятно) Сейчас после сдачи проекта чувствуется небольшая усталость и большое чувство удовлетворения) А сколько всего было за эти пять недель! Спасибо всем, кто поддерживал меня, спасибо Оле (Ольга Болотова) , моему наставнику, которая следила за прогрессом, контролировала качество кода и давала тонкие подсказки для лучшего прогресса. Легко не было, но было интересно!) Теперь я знаю, что я умею делать не просто интересные качественные сайты, но такие красивые, функциональные и удобные. А если вам понадобится моя помощь с разработкой сайта, я всегда буду рада помочь! С вами на связи!) colibri-web.ru P.S. Сайт можно посмотреть на Github) https://usp-evgeniya.github.io/burgers/"
        }      
    ]

- 
    var menuItemsIntro = [
        {
        title: "Мои работы", 
        link: "/works",
        mod: "works"
        },
        {
        title: "Обо мне", 
        link: "/about",
        mod: "about"
        },
        {
        title: "Блог", 
        link: "/blog",
        mod: "blog"
        }
    ]

- 
    var menuItemsAdmin = [
        {
        title: "Обо мне", 
        link: "/about",
        mod: "about"
        },
        {
        title: "Блог", 
        link: "/blog",
        mod: "blog"
        },
        {
        title: "Мои работы", 
        link: "/works",
        mod: "works"
        },
    ]

- 
    var worksList = [
        {
        subtitle: "Лендинг для магазина бургеров Mr.Burger", 
        techs: "HTML5, CSS3, JavaScript & jQuery, Ajax, Gulp",
        link: "https://usp-evgeniya.github.io/burgers/",
        img: "img/content/works/work1.png",
        active: "active",
        },
        {
        subtitle: "Интернет-магазин лабораторного оборудования и приборов", 
        techs: "HTML5, CSS3, JavaScript & jQuery",
        link: "#",
        img: "img/content/works/work2.png",
        active: "",
        },
        {
        subtitle: "Лендинг для студии красоты Пион", 
        techs: "HTML5, CSS3, JavaScript & jQuery",
        link: "#",
        img: "img/content/works/work3.png",
        active: "",
        }
    ]
- 
    var commentsList = [
        {
        comment: "Прохождение обучения веб-разработке в LoftSchool — это не просто так! 2 месяца только самых тяжелых испытаний и бессонных ночей!", 
        person: "Ковальчук Дмитрий",
        occupation: "Основатель школы",
        img: "img/content/dmitry.jpg"
        },
        {
        comment: "Женя прошла все три курса Профессии в моей группе, продуктивно поработала и получила отличные знания и навыки.", 
        person: "Болотова Ольга",
        occupation: "Наставник группы",
        img: "img/content/olya.jpg"
        }
    ]
